{% extends 'main/base.html' %}

{% block title %}
Про нас
{% endblock %}

{% block name %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Сервисный центр "IT-PROFI"</h1>
    <P>НАША КОМАНДА ПРОФЕССИОНАЛОВ ПОМОЖЕТ РЕШИТЬ ЛЮБОЙ ВОПРОС, СВЯЗАННЫЙ С КОМПЬЮТЕРОМ!</P>
    <p>ЕСТЬ ВОПРОСЫ О КОМПЬЮТЕРЕ ? ПРОБЛЕМЫ С КОМПЬЮТЕРОМ ?</p>
    <P>СОЗДАЙТЕ ЗАЯВКУ НА САЙТЕ И МЫ ВАМ ПОМОЖЕМ.</P>
    <div>
        <h3>Все работы выполняются настоящими профессионалами своего дела</h3>
        <p>Огромный опыт работы, большая база знаний и умений у каждого мастера;</p>
        <p>Большая база клиентов, много положительных отзывов;</p>
        <p>Выезд на дом, в офис;</p>
        <P>Бесплатная диагностика;</P>
        <p>Индивидуальный подход к каждому клиенту;</p>
    </div>
{% endblock %}