{% extends 'main/base.html' %}

{% block title %}
Добавление статьи
{% endblock %}

{% block name %}
Добавить новую статью
{% endblock %}

{% block content %}
    <h1 style="margin-left: 27%;">Новая статья</h1>
    <div class="container px-5">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table>
              {{ form.as_table}}
          </table>
          <br>
          <button style="margin-left: 28%;" type="submit" class="btn btn-success">Добавить статью</button>
      </form>
    </div>
    <br>
{% endblock %}