{% extends 'main/base.html' %}

{% block title %}
Статьи
{% endblock %}

{% block name %}
Полезные статьи и инструкции
{% endblock %}

{% block content %}
    <h1 style="margin-left: 20%">Все статьи:</h1>
    {% if articles %}
        {% for art in articles %}
            <div class="alert alert-warning" style="width:800px; text-align:center;">
                <a href="{% url 'single' art.id %}"><img src="{{art.image.url}}" width="200px"></a>
                <h3><a href="{% url 'single' art.id %}" style="text-decoration: none;">{{ art.name }}</a></h3>
                <p>{{ art.date }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Статей в базе нет!</p>
    {% endif %}
    <a class="btn btn-primary btn-lg px-4 me-sm-3" style="margin-bottom: 5%; margin-left: 23%;" href="{% url 'article_create' %}">Добавить статью</a>
    <div class="pagination">
        <span style="width:900px; text-align:center; class="step-links">
            <div class="current" >
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </div>
            {% if page_obj.has_previous %}
                <a href="?page=1">Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
            {% endif %}
        </span>
    </div>
{% endblock%}