{% extends 'main/base.html' %}

{% block title %}
Статьи
{% endblock %}

{% block name %}
Полезные статьи и инструкции
{% endblock %}

{% block content %}
    <h1>Все статьи:</h1>
    {% if articles %}
        {% for art in articles %}
            <div class="alert alert-warning" style="width:400px; text-align:center;">
                <a href="{% url 'single' art.id %}"><img src='{{ art.image.url }}' width="200px"></a>
                <h3>{{ art.name }}</h3>
                <p>{{ art.date }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Статей в базе нет!</p>
    {% endif %}
{% endblock %}