{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block name %}
Профессионалы своего дела
{% endblock %}

{% block content %}
    <h1>Чем мы занимаемся:</h1>
    <p> - Бесплатная консультации по любым компьютерным вопросам;</p>
    <p> - Помощь при выборе и покупке компьютерной техники;</p>
    <p> - Ремонт компьютеров и ноутбуков;</p>
    <p> - Установка и настройка программ;</p>
    <p> - Лечение и чистка от вирусов;</p>
    <p> - Чистка и профилактика от пыли;</p>
    <p> - Модернизация и замена комплектующих;</p>
    <p> - Настройка модемов, wi-fi роутеров, в том числе MikroTik;</p>
    <p> - Монтаж и настройка локальных вычислительных сетей;</p>
    <p> - Другие сопутствующие услуги.</p>
    <h2>Выезд и диагностика БЕСПЛАТНО!</h2>
    <h3>Приводи друзей и получай скидки на ремонт!</h3>

{% endblock %}