{% extends 'main/base.html' %}

{% block title %}
{{ article.name }}
{% endblock %}

{% block name %}
Полезные статьи и инструкции
{% endblock %}

{% block content %}
    <h1>{{ article.name }}</h1>
    <div class="container px-5">
        <img src="{{article.image.url}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="My image_1" width="300" height="200" loading="lazy">
    </div>
    <p>{{ article.text|linebreaks }}
    <p><b>ДАТА ПУБЛИКАЦИИ:</b> {{ article.date }}</p>
    <p><b>АВТОР:</b> {{ article.user }}</p>
    {% if request.user.is_superuser or request.user.is_authenticated and article.user == request.user %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'article_upd' article.id %}">ИЗМЕНИТЬ СТАТЬЮ</a>
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'article_del' article.id %}">УДАЛИТЬ СТАТЬЮ</a>
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'articles' %}">ВСЕ СТАТЬИ</a>
    </div>
    {% else %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'articles' %}">ВСЕ СТАТЬИ</a>
    </div>
    {% endif %}
{% endblock %}